* {
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Pacifico', cursive; */
    font-family: 'Roboto Slab', serif;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 2rem;
    font-weight: 700;
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main {
    width: 50vw;
    background: #fff;
    padding:2em;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
h1 {
    margin: 0 auto 0 0;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3.5rem;
}
form{
    margin:0;
    display: flex;
    justify-content: space-between;
}
input {
    background-color: rgb(241, 241, 241);
    font-size: 1.5rem;
    font-weight: 700;
    padding:1em;
    border:none;
    margin: 0;
    width:90%
}
input:hover {
    background-color: rgb(235, 235, 235);
}
button {
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding:1em 2em;
    border:none;
    margin: 1em;
    white-space: nowrap;
    word-break: keep-all;
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: rgb(255, 217, 2) 100.2% ;
}
button:active{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px inset;
}
.login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgb(241, 241, 241);
}
.messageBox{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em inset, rgba(90, 125, 188, 0.05) 0px 0.25em 1em inset;
    height:60vh;
    overflow-y: scroll;
    margin:1em 0;
    padding: 0.5em 1em;
}
.message > p {
    border-radius: 8px;
    padding:5px;
    width:fit-content;
}
.received p {
    background: #dedede;
    text-align: right;
    margin-left: auto;
}
.sent p {
    background: #2962ff;
    color: #fff;
    text-align: left;
    margin-right: auto;
}
.logo {
    margin-right:0.5em;
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    align-self: center;
}
.buttonWrapper {
    display:flex;
    align-items: center;
    justify-content: center;
}
/* UTILITY CLASSES */

.inline {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.bold {
    font-weight: 700;
}
.accent{
    background-color: rgb(241, 241, 241);
}
.noMargin{
    margin:0;
}
.topRightRadius {
    border-top-right-radius: 15px;
}
.bottomRightRadius {
    border-bottom-right-radius: 15px;
}
.bottomLeftRadius {
    border-bottom-left-radius: 15px;
}

/* MEDIA QUERIES */

@media (max-width:1000px) {
    main {
        width: 60vw;
    }
    .lessSidePadding {
        padding:1em;
    }
}
@media (max-width:800px) {
    main {
        width: 90vw;
    }
    h1{
        font-size: 2.5rem;
    }
    .buttonWrapper {
        flex-direction: column;
        align-items: center;
    }
}